/*----------------------------------------------------------
メニュー関連
------------------------------------------------------------*/

/* --- ナビゲーションバー --- */
div.nav {
    margin-top: 10px;
    width: 180px;
    font-size: 80%;
}

/* --- メニューエリア --- */
div.nav ul.nl {
    margin: 0;
    padding: 0;
    border-top: 1px #c0c0c0 dotted;
    list-style-type: none;
    text-align: left;
}

/* --- メニュー項目 --- */
div.nav ul.nl li {
    padding: 3px 1px;
    background-color: #f9f9f9;
    border-bottom: 1px #c0c0c0 dotted;
}

/* --- リンク --- */
div.nav ul.nl li a {
    display: block;
    position: relative; /* IE6用 */
    padding: 8px 10px;
    border-left: 4px #c0c0c0 solid;
    text-decoration: none;
    color:#000000;
}
/* --- ポイント時の設定 --- */
div.nav ul.nl li a:hover {
    border-left-color: #e0e0e0;
    color:#e0e0e0;
}


/*----------------------------------------------------------
（参考）https://saruwakakun.com/html-css/reference/h-design
------------------------------------------------------------*/

/*************
/* タイトル
*************/
.title01 {
    color: #7C7C7C;
    border-bottom: solid 2px #0288D1;
    padding: 0.1em;
}

.title02 {
    padding: 0.2em 0.5em;
    color: #7C7C7C;
    background: transparent;
    border-left: solid 5px #0288D1;
}

.title03 {
    color: #7C7C7C;
    padding: 0.1em;
    background: linear-gradient(transparent 80%, #0288D1 80%);
}

.title04 {
    color: #ffffff;
    background: #0288D1;
    padding: 0.2em;
}

.title05 {
    padding:4px 5px;
    color: #7C7C7C;
    border-color:#0288D1;
    border-width:1px 0 2px 0;
    border-style:solid;
    background:#E3F0FD;
}



/*----------------------------------------------------------
テーブル関連：（参考）http://webworkersclip.com/2875/
------------------------------------------------------------*/

/*************
/* テーブル1（シンプルで見やすい表）
*************/
table.type01 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;

}
table.type01 thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #369;
	border-bottom: 3px solid #036;
}
table.type01 tbody th {
	width: 50px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #f3f6f7;
}
table.type01 td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

/*************
/* テーブル2（交互に背景色）
*************/
table.type02 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.type02 th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
}
table.type02 td {
	padding: 10px;
	vertical-align: top;
}
table.type02 .even {
	background: #efefef;
}

/*************
/* テーブル3（左カラムがヘッダー）
*************/
table.type03 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-left: 3px solid #369;
}
table.type03 th {
	width: 147px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #153d73;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}
table.type03 td {
	width: 349px;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


/*----------------------------------------------------------
その他
------------------------------------------------------------*/

/*************
/* フッター
*************/
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    padding:32px 16px;
    color:#9e9e9e;
    background:#424242;
}

/* --- 縦スクロール --- */
div.vscroll {
    overflow-y: auto;
}